
<html>
<head>
	<title>Todo List</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <script type="text/javascript" src="assets/custom.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>
<body>

<div class="card-panel teal lighten-2">
	<div class="welcome">
		<h1>taskr edit screen</h1>
		<h5>It looks like you wanna edit your todo, it's fine with us. We won't tell anyone you moved the goalpost.</h5>
		<p>Just put the new thing you wanted to say in the field below.</p>
	</div>
		<form method="post" action="/edit/<%= todos.id %>">
			<input type="text" name="item" placeholder="<%= todos.task %>" required>
			<button class="btn" type="submit">Edit Task</button>
		</form>
	</div>
</body>
</html>
