
<html>
<head>
	<title>Todo List</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <script type="text/javascript" src="assets/custom.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>
<body>

<div class="card-panel teal lighten-2">
	<div class="welcome">
		<h1>Welcome to taskr!</h1>
		<h3>The only todo app you'll ever need.</h3>
		<p>(The one you may want is a different story)</p>
		<h5>Enter the things you plan to do in the field provided, and simply click them when you're done.</h5>
	</div>
		<form method="post" action="/edit/<%= todos.id %>">
			<input type="text" name="item" placeholder="<%= todos.task %>" required>
			<button class="btn" type="submit"> Edit Task</button>
		</form>
	</div>
</body>
</html>
