
<html>
<head>
	<title>Testing</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	
</head>
<body>
<div class="card-panel teal lighten-4 center-align">
<h1>This is a test</h1>
<div>
	<p>
		I am just making sure I know how to create routes. Did it work or not?
	</p>
</div>

</div>

</body>
</html>