
<html>
<head>
	<title>Todo List</title>
	<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <script type="text/javascript" src="assets/custom.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>
<body>

<div class="card-panel teal lighten-2">
	<div class="welcome">
		<h1>Welcome to taskr!</h1>
		<h3>The only todo app you'll ever need.</h3>
		<p>(The one you may want is a different story)</p>
		<h5>Enter the things you plan to do in the field provided, and simply click them when you're done.</h5>
	</div>
	<div id= "todo-table">
		<form>
			<input type="text" name="item" placeholder="Add a new task!" required>
			<button class="btn" type="submit"> Add Task</button>
		</form>
		<ul>
			<% for(var i = 0; i < todos.length; i++){ %>
				<li><%= todos[i].item %></li>
			<% }%>
			</ul>
	</div>
</div>
<div class="card-panel teal lighten-4 center-align">
	<h3>Go from to-do, to to-done!</h3>
	<h6>Kick up your feet, relax, and take a look at all the things you've finished.</h6>
	<ul>
		<% for(var i = 0; i < complete.length; i++){ %>
			<li><%= complete[i].item %></li>
		<% }%>
	</ul>
</div>

</body>
</html>
