
<html>
<head>
	<title>Todo List</title>
	<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <script type="text/javascript" src="assets/custom.js"></script>
</head>
<body>
<div id= "todo-table">
	<form>
		<input type="text" name="item" placeholder="Add a new task!" required>
		<button type="submit"> Add Task</button>
	</form>	
	<ul>
	<% for(var i = 0; i < todos.length; i++){ %>
		<li><%= todos[i].item %></li>
	<% }%>
	</ul>

</div>
</body>
</html>