
<html>
<head>
	<title>Todo List</title>	
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
<div id= "todo-table">
	<form method="post" action="/todo">
		<input type="text" name="item" placeholder="Add a new task!" required>
		<button type="submit"> Add Task</button>
	</form>	
	<ul>
	<% for(var i = 0; i < todos.length; i++){ %>
		<li><%= todos[i].task %></li>
	<% }%>
	</ul>

</div>
</body>
</html>